<p>message works!</p>
<div *ngFor="let m of this.message.messages">
    <div class="container">
        <p>{{m.id}}</p>
        <p>{{m.user.pseudo}}</p>
        <p>{{m.timestamp[2]}}/{{m.timestamp[1]}}/{{m.timestamp[0]}}
          {{m.timestamp[3]}}h
          {{m.timestamp[4]}}m
        </p>
        <p>{{m.content}}</p>



    </div>

</div>
<p>add-message works!</p>
<form>
    <input
      name="content"
      type="text"
      placeholder="Send message..."

      [(ngModel)]="this.inputMessage.content"

    />


    <button (click)="this.addMessage()">Send message</button>
  </form>
