.contentContainer{
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    background-color: rgba(3, 3, 3, 0.05);
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
}

.message{
    flex-grow: 1;
}

@media (max-width: 767px) {
    .contentContainer {
      flex-direction: column; /* Display items vertically */
      flex-direction: column-reverse;
    }
}