<div class="channel">
    <div>
        <app-add-channel></app-add-channel>
    </div>
    <div *ngFor="let c of this.channel.channels">
        <div class="container">
            <div>
                <p>{{c.name}}</p>
                <p>{{c.description}}</p>
            </div>
            <div class="buttons" >
                <button id="selectButton"(click)="selectedChannel(c.id)">Select</button>
                <button id="editButton" *ngIf="c.id>1">Edit</button>
                <button id="deleteButton" (click)="deleteChannelC(c.id)" *ngIf="c.id>1">Delete</button>
            </div>
        </div>
    </div>
</div>
