.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 70%;
    max-width: 500px;
    height: 50%;
    max-height: 300px;
    margin: 8% 30% 8% 30%;
    border: solid 0px green;
}

div {
    border: 0px solid yellowgreen;
    padding: 1px 1px 1px 1px;
}

button {
    display: inline-block;
    background-color: red;
    padding: 2% 2% 2% 2%;
    color: white;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    border: 0px solid black;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    margin-right: 10px;
    margin-left: 68%;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 150px;
    width: 40%;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.button:hover {
    background-color: orange;
}

.button:active {
    background-color: green;
}

form {
    max-width: 500px;
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 5px 18px rgba(0, 0, 0, .1);
}

p {
    border: 0px solid magenta;
    display: flex;
    flex-direction: column;
    margin-block-start: 5px;
    margin-block-end: 5px;
}

h2 {
    border: 0px solid red;
    padding: 5px;
    text-decoration: underline;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

label {
    border: 0px solid red;
    padding: 5px;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.success-message {
  color: green;
  margin-top: 10px;
}


@keyframes borderPulse {
  0% {
    border-color: initial;
  }
  25% {
    border-color: #b3ce55;
  }
  50% {
    border-color: #d04a38;
  }
  75% {
    border-color: #4341c2;
  }
  100% {
    border-color: #0cd85e;
  }
}

.animated-border {
  border: 3px solid;
  border-radius: 20px;
  transition: border-color 0.6s ease;
}

.animated-border:hover {
  animation: borderPulse 2s infinite;
}

