<app-header></app-header>
<div class="container-fluid d-md-inline">
  <div class="row ">
    <div class="col-md-6 m-auto">
      <form>
      <h2>Connexion</h2>
        <div class="form-group">
          <label for="pseudo1">Pseudo :</label>
          <input id="pseudo1" name="pseudo1" type="text" placeholder="Pseudo" [(ngModel)]="inputUser.pseudo"
            class="form-control" required />
        </div>
        <div class="form-group">
          <label for="email1">Email :</label>
          <input id="email1" name="email1" type="text" placeholder="Email" [(ngModel)]="inputUser.email"
            class="form-control" required />
        </div>
        <div>
          <button class="btn btn-primary" (click)="checkUser()">Connexion</button>
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <form (ngSubmit)="regUser()">
      <h2>Inscription</h2>
        <div class="form-group">
          <label for="prenom">Prénom :</label>
          <input id="prenom" name="prenom" type="text" placeholder="Prenom" [(ngModel)]="registerUser.prenom"
            class="form-control" required/>
        </div>
        <div class="form-group">
          <label for="nom">Nom :</label>
          <input id="nom" name="nom" type="text" placeholder="Nom" [(ngModel)]="registerUser.nom" class="form-control"
            required />
        </div>
        <div class="form-group">
          <label for="email">Email :</label>
          <input id="email" name="email" type="text" placeholder="Email" [(ngModel)]="registerUser.email"
            class="form-control" required/>
        </div>
        <div class="form-group">
          <label for="pseudo">Pseudo :</label>
          <input id="pseudo" name="pseudo" type="text" placeholder="Pseudo" [(ngModel)]="registerUser.pseudo"
            class="form-control" required/>
        </div>
        <div>
          <button type="submit" class="btn btn-success">Inscription</button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
