<app-header></app-header>
<div class="container">
    <h1>Connexion</h1>
    <div>
        <form>
            <p>
                <label for="pseudo">Pseudo</label>
                <input id="pseudo" name="pseudo" type="text" placeholder="pseudo" [(ngModel)]="inputUser.pseudo"
                    class="form-control" required />
            </p>
            <p>
                <label for="email">Email</label>
                <input id="email" name="email" type="text" placeholder="email" [(ngModel)]="inputUser.email"
                    class="form-control" required />
            </p>
            <div><button type="button" class="button" (click)="checkUser()">Connexion</button></div>
        </form>
    </div>
</div>
<app-footer></app-footer>